@font-face {
  font-weight: 400;
  font-family: "BebasNeue";
  font-style: normal;
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "BebasNeue";
  font-style: normal;
  src: url("../fonts/BebasNeue-Bold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../fonts/Roboto-Condensed.woff2") format("woff2"), url("../fonts/Roboto-Condensed.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Roboto Condensed", "Helvetica", sans-serif;
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
